<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEO</title>
    <script>
        function func2()
        {
            location.href='192.168.43.80:6732/add_manager';
        }
    </script>
</head>
<body>
    <button onclick="func2()">ADD MANAGER</button>
</body>
</html>