<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cancelled.</h1>
    <br><h3>Your Refund will be processed shortly...</h3>
    <br>
    <br>
    <h4>Refund Details</h4>
    <u>Ticket Price :</u><span><%=org%></span>
    <br>
    <u>Cancellation Charges :</u><span><%=tag%>%</span>
    <br>
    <u>Amount Refnded :</u><span><%=amount%></span>
</body>
</html>