<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport", initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h2>MY BUS</h2>
    <br>
    <h4>Register-</h4>
    <form action="/register" method="POST">
        <input type="text" name="name" placeholder="Name">
        <br>
        <input type="text" name="mobile" placeholder="Mobile_No">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <br><br>
    <h4>Login-</h4>
    <form action="/login" method="POST">
        <input type="text" name="mobile" placeholder="Mobile_No">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>