<html>
    <body>
        <form action="/upload-images" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required="true">
            <input type="submit">
        </form>
    </body>
</html>