<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch using Mysql and Node.js</title>
</head>
<body>
    <h2>Display Data</h2>
    <table border="1">
        <% if(userData.length!=0){
            var i=1;
            userData.forEach(function(data){
        %>
        <tr>
            <td><%=i;%></td>
            <td><%= data.NAME%></td>
            <td><%= data.CITY%></td>
        </tr>
        <% i++;})%>
        <%}else{%>
            <tr>
                <td>No Data</td>
            </tr>
            <%}%>
    </table>
    <form action="/buyer-list" method="POST">
    <input type="text" name="nm">
    <button type="submit">
    </form>
</body>
</html>